@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?50702962fbb97d6af3e4251e13b16560") format("truetype"),
url("./flaticon.woff?50702962fbb97d6af3e4251e13b16560") format("woff"),
url("./flaticon.woff2?50702962fbb97d6af3e4251e13b16560") format("woff2"),
url("./flaticon.eot?50702962fbb97d6af3e4251e13b16560#iefix") format("embedded-opentype"),
url("./flaticon.svg?50702962fbb97d6af3e4251e13b16560#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-air-conditioner:before {
    content: "\f101";
}
.flaticon-alarm-system:before {
    content: "\f102";
}
.flaticon-alarm:before {
    content: "\f103";
}
